<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bucket-List</title>
</head>
<body>
<h1 style="text-align: center">Bienvenue sur ma bucket-list</h1>
<ul>
    <li>Sauter en parachute</li>
    <li>Avoir une tortue</li>
    <li>Voir le Dia de Los Muertos à Mexico</li>

</ul>

</body>
</html>