{% extends 'base.html.twig' %}

{% block title %}
     Create new Wish | {{ parent() }}

{% endblock %}

{% block main %}
    <h2>Création d'un souhait</h2>
    <div>
    {{ form_start(wishForm) }}

    {{ form_widget(wishForm) }}
    <button>Create</button>
    {{ form_end(wishForm) }}
    </div>
{% endblock %}

