{% extends 'base.html.twig' %}

{% block title %}
WishList | {{ parent() }}
{% endblock %}

{% block main %}
    <h2>All wishes !</h2>
    <section class="wish-list">
        <ul>
            {% for wish in wishes %}
                <li><a href="{{ path('wish_details', {'id' : wish.id}) }}">{{ wish.title }}</a> </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
